<script>
    import { Router, Link, Route } from "svelte-routing";
    import Home from "./Home.svelte";
    import Tps from "./Tps.svelte";

</script>

<Router>
  <nav>
    <Link to="/">Home</Link>
  </nav>
  <div>
    <Route path="/" component="{Home}" />
    <Route path="tps/:id" component="{Tps}" />
  </div>
</Router>
