<script>
    import { onDestroy } from 'svelte';
    import { Link } from "svelte-routing";
    let limits = [];

    var ws = new WebSocket("ws://localhost:3000/ws/tps");
    ws.onmessage = function (event) {
        const data = JSON.parse(event.data);
        switch (data.type) {
            case "limits":
                buildLimits(data.payload)
        }
    }

    function buildLimits(data) {
        let res = [{ id: "free", limit: data["free"]}];
        delete data["free"];
        for(const key in data) {
            const val = JSON.parse(data[key])
            res = [...res, { id: key, limit: val.limit }]
        }
        limits = res;
    }

    onDestroy(() => {
        ws.close()
    })
</script>


<main>
    <table class="table">
        <thead>
            <tr>
                <th>Project ID</th>
                <th>Limit</th>
            </tr>
        </thead>
        <tbody>
            {#each limits as d}
                <tr>
                    <td>
                        <Link to="tps/{d.id}">{d.id}</Link>
                    </td>
                    <td>{d.limit}</td>
                </tr>
            {/each}
        </tbody>
    </table>
</main>

