<script>
    import { onMount, onDestroy } from 'svelte';
    import  Chart from 'chart.js';
    export let id;
    let tps = {};
    let labels = []
    let labelCounter = 0
    let usageIns = []
    let usageOuts = []

    let config = {
        type: 'line',
        data: {
            labels: [],
            datasets: [{
                label: 'Usage In',
                backgroundColor: window.chartColors.red,
                borderColor: window.chartColors.red,
                data: usageIns,
                fill: false,
                lineTension:0,
            }, {
                label: 'Usage Out',
                fill: false,
                backgroundColor: window.chartColors.blue,
                borderColor: window.chartColors.blue,
                data: usageOuts,
                lineTension:0,
            }]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Usage Demo'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Tick'
                    }
                }],
                yAxes: [{
                    display: true,
                    ticks: {
                        beginAtZero: true,
                        steps: 1,
                        min: 0,
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Value'
                    }
                }]
            }
        }
    };


    onMount(() => {
        var ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, config);

    var ws = new WebSocket(`ws://localhost:3000/ws/tps/${id}`);
    ws.onmessage = function (event) {
        const data = JSON.parse(event.data);
        switch (data.type) {
            case "tps":
                tps = data.payload
                usageIns.push(tps.usageIn)
                usageOuts.push(tps.usageOut)
                labels.push(labelCounter)
                if (labels.length > 20) {
                    labels.shift()
                    usageIns.shift()
                    usageOuts.shift()
                }
                config.data.datasets[0].data = usageIns
                config.data.datasets[1].data = usageOuts
                config.data.labels = labels
                if (myChart.update) {
                    myChart.update()
                }
                labelCounter++
        }
    }

    })
    onDestroy(() => {
        ws.close()
    })

</script>


<main>
    Limit In : {tps.limitIn}<br/>
    Limit Out : {tps.limitOut}<br/>
    Usage In : {tps.usageIn}<br/>
    Usage Out : {tps.usageOut}<br/>
    <div style="width:100%">
    <canvas id="myChart" ></canvas>
    </div>
</main>

